<body class="full-bg-first-screen">
    <a  class="logo" routerLink="/home"> <span>A</span>POLLO<span> H</span>OSPITALS</a>
  
 <div class="four-tabs ">
     <a class="card-dash blue1" routerLink="/patientlogin">
             <p class="dash-name">PATIENT</p>
     </a>
     <a class="card-dash green1" routerLink="/doctorlogin">
         <p class="dash-name">DOCTOR</p>
     </a>
  <a class="card-dash red1" routerLink="/adminlogin">
         <p class="dash-name">ADMIN</p>
     </a>
     
  
 </div>
 
 
     <!-- Bootstrap core JavaScript
     ================================================== -->
     <!-- Placed at the end of the document so the pages load faster -->
    <script src="/asso/src/js/jquery11.js"></script>
 <script src="/asso/src/js/bootstrap.min11.js"></script>	  
 
 
   <!-- <script type="text/javascript" src="js/main.js"></script> -->
   
 </body>