/* Add padding to containers */
.container {
    padding: 16px;
  }
  

  .box{
     width:45%;
      margin-left:27%;
      padding: 20px;
      border: 2px solid black;
  }
  label{
      font-size: large;
  }
  
  input[type=text], input[type=password], input[type=number] ,input[type=email], input[type=date] {
    width: 100%;
    padding: 15px;
    font-size: medium;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  
  
 